<table border="1"><tr><th>Time</th><th>btc_jpy</th><th>(JPY)</th><th>(BTC)</th><th>Value as JPY</th><th>Value as BTC</th></tr>
  <tr><th>2021-02-18 18:01:20</th><th>5478333</th><th>100000.0</th><th>0.0</th><th>100000.0</th><th>0.018253727913217395</th></tr>
  <tr><th>2021-02-18 19:01:18</th><th>5473373</th><th>100000.0</th><th>0.0</th><th>100000.0</th><th>0.01827026953945949</th></tr>
  <tr><th>2021-02-18 20:01:18</th><th>5462553</th><th>0.0</th><th>0.018307147145388256</th><th>100003.76156048206</th><th>0.018307147145388256</th></tr>
  <tr><th>2021-02-18 21:01:17</th><th>5428000</th><th>99472.14920447777</th><th>0.0</th><th>99472.14920447777</th><th>0.018325745984612705</th></tr>
  <tr><th>2021-02-18 22:01:18</th><th>5443367</th><th>99472.14920447776</th><th>0.0</th><th>99472.14920447776</th><th>0.018274011141353828</th></tr>
  <tr><th>2021-02-18 23:01:19</th><th>5485022</th><th>99472.14920447776</th><th>0.0</th><th>99472.14920447776</th><th>0.018135232493958594</th></tr>
  <tr><th>2021-02-19 00:01:18</th><th>5529996</th><th>99472.14920447776</th><th>0.0</th><th>99472.14920447776</th><th>0.01798774342774891</th></tr>
  <tr><th>2021-02-19 01:01:21</th><th>5459999</th><th>0.0</th><th>0.018210406063089303</th><th>99428.79889406153</th><th>0.018210406063089303</th></tr>
  <tr><th>2021-02-19 02:01:18</th><th>5500000</th><th>0.0</th><th>0.018210406063089303</th><th>100157.23334699117</th><th>0.018210406063089303</th></tr>
  <tr><th>2021-02-19 03:01:19</th><th>5480000</th><th>0.0</th><th>0.018210406063089303</th><th>99793.02522572938</th><th>0.018210406063089303</th></tr>
  <tr><th>2021-02-19 04:01:18</th><th>5482528</th><th>0.0</th><th>0.018210406063089303</th><th>99839.06113225687</th><th>0.018210406063089303</th></tr>
  <tr><th>2021-02-19 05:01:19</th><th>5475009</th><th>0.0</th><th>0.018210406063089303</th><th>99702.1370890685</th><th>0.018210406063089303</th></tr>
  <tr><th>2021-02-19 06:01:19</th><th>5503320</th><th>0.0</th><th>0.018210406063089303</th><th>100217.69189512062</th><th>0.018210406063089303</th></tr>
  <tr><th>2021-02-19 07:01:19</th><th>5501779</th><th>100285.25588510813</th><th>0.0</th><th>100285.25588510813</th><th>0.01822778702763381</th></tr>
  <tr><th>2021-02-19 08:01:19</th><th>5486784</th><th>100285.25588510813</th><th>0.0</th><th>100285.25588510813</th><th>0.01827760230494004</th></tr>
  <tr><th>2021-02-19 09:01:21</th><th>5460798</th><th>100285.25588510813</th><th>0.0</th><th>100285.25588510813</th><th>0.0183645789287771</th></tr>
  <tr><th>2021-02-19 10:01:18</th><th>5455000</th><th>0.0</th><th>0.018397289035500333</th><th>100357.21168865431</th><th>0.018397289035500333</th></tr>
  <tr><th>2021-02-19 11:01:18</th><th>5434150</th><th>99902.77735645512</th><th>0.0</th><th>99902.77735645512</th><th>0.018384250960399532</th></tr>
  <tr><th>2021-02-19 12:01:24</th><th>5428266</th><th>99902.77735645512</th><th>0.0</th><th>99902.77735645512</th><th>0.018404178674452414</th></tr>
  <tr><th>2021-02-19 14:01:29</th><th>5410859</th><th>99902.77735645512</th><th>0.0</th><th>99902.77735645512</th><th>0.01846338582403554</th></tr>
  <tr><th>2021-02-25 21:01:48</th><th>5341817</th><th>99902.77735645512</th><th>0.0</th><th>99902.77735645512</th><th>0.018702021682220696</th></tr>
  <tr><th>2021-02-25 22:01:27</th><th>5474670</th><th>99902.77735645512</th><th>0.0</th><th>99902.77735645512</th><th>0.0182481825126364</th></tr>
  <tr><th>2021-02-25 23:01:22</th><th>5459998</th><th>0.0</th><th>0.018273564816225427</th><th>99773.6273494612</th><th>0.018273564816225427</th></tr>
  <tr><th>2021-02-26 00:01:22</th><th>5399207</th><th>0.0</th><th>0.018273564816225427</th><th>98662.75907071804</th><th>0.018273564816225427</th></tr>
  <tr><th>2021-02-26 01:01:30</th><th>5405374</th><th>99016.8185221601</th><th>0.0</th><th>99016.8185221601</th><th>0.018318217855445358</th></tr>
  <tr><th>2021-02-26 02:01:24</th><th>5381436</th><th>99016.8185221601</th><th>0.0</th><th>99016.8185221601</th><th>0.01839970196099333</th></tr>
  <tr><th>2021-02-26 03:01:24</th><th>5279308</th><th>0.0</th><th>0.01878471813442733</th><th>99170.31272482728</th><th>0.01878471813442733</th></tr>
  <tr><th>2021-02-26 04:01:22</th><th>5271908</th><th>0.0</th><th>0.018784718134427333</th><th>99031.30581063253</th><th>0.018784718134427333</th></tr>
  <tr><th>2021-02-26 05:01:30</th><th>5269483</th><th>0.0</th><th>0.018784718134427333</th><th>98985.75286915654</th><th>0.018784718134427333</th></tr>
  <tr><th>2021-02-26 06:01:25</th><th>5247123</th><th>0.0</th><th>0.018784718134427333</th><th>98565.72657167075</th><th>0.018784718134427333</th></tr>
  <tr><th>2021-02-26 07:01:26</th><th>5130000</th><th>0.0</th><th>0.018784718134427333</th><th>96365.60402961222</th><th>0.018784718134427333</th></tr>
  <tr><th>2021-02-26 08:01:23</th><th>5145009</th><th>96150.19030821817</th><th>0.0</th><th>96150.19030821817</th><th>0.01868805094572588</th></tr>
  <tr><th>2021-02-26 09:01:24</th><th>5026895</th><th>96150.19030821817</th><th>0.0</th><th>96150.19030821817</th><th>0.019127153105091346</th></tr>
  <tr><th>2021-02-26 10:01:25</th><th>4990000</th><th>96150.19030821817</th><th>0.0</th><th>96150.19030821817</th><th>0.01926857521206777</th></tr>
  <tr><th>2021-02-26 11:01:21</th><th>4959251</th><th>96150.19030821817</th><th>0.0</th><th>96150.19030821817</th><th>0.01938804676517042</th></tr>
  <tr><th>2021-02-26 12:01:26</th><th>5040362</th><th>96150.19030821817</th><th>0.0</th><th>96150.19030821817</th><th>0.01907604856718985</th></tr>
  <tr><th>2021-02-26 13:01:31</th><th>5039081</th><th>96150.19030821817</th><th>0.0</th><th>96150.19030821817</th><th>0.019080897947109435</th></tr>
  <tr><th>2021-02-26 14:01:22</th><th>5013430</th><th>96150.19030821817</th><th>0.0</th><th>96150.19030821817</th><th>0.019178524544716524</th></tr>
  <tr><th>2021-02-26 15:01:26</th><th>4851009</th><th>96150.19030821817</th><th>0.0</th><th>96150.19030821817</th><th>0.019820657992639917</th></tr>
  <tr><th>2021-02-26 16:01:33</th><th>4905760</th><th>96150.19030821817</th><th>0.0</th><th>96150.19030821817</th><th>0.019599448466337155</th></tr>
  <tr><th>2021-02-26 17:01:29</th><th>4774069</th><th>96150.19030821817</th><th>0.0</th><th>96150.19030821817</th><th>0.020140092300345507</th></tr>
  <tr><th>2021-02-26 18:01:21</th><th>4857552</th><th>96150.19030821817</th><th>0.0</th><th>96150.19030821817</th><th>0.019793960066349914</th></tr>
  <tr><th>2021-02-26 19:01:17</th><th>4947641</th><th>96150.19030821817</th><th>0.0</th><th>96150.19030821817</th><th>0.01943354222915894</th></tr>
  <tr><th>2021-02-26 20:01:18</th><th>4978915</th><th>96150.19030821817</th><th>0.0</th><th>96150.19030821817</th><th>0.019311474549820226</th></tr>
  <tr><th>2021-02-26 21:01:17</th><th>4935376</th><th>96150.19030821817</th><th>0.0</th><th>96150.19030821817</th><th>0.019481836907303145</th></tr>
  <tr><th>2021-02-26 22:01:17</th><th>4975221</th><th>96150.19030821817</th><th>0.0</th><th>96150.19030821817</th><th>0.01932581292533903</th></tr>
  <tr><th>2021-02-26 23:01:17</th><th>4881451</th><th>0.0</th><th>0.0196447099597012</th><th>95894.68907749339</th><th>0.0196447099597012</th></tr>
  <tr><th>2021-02-27 00:01:16</th><th>4987441</th><th>0.0</th><th>0.0196447099597012</th><th>97976.83188612212</th><th>0.0196447099597012</th></tr>
  <tr><th>2021-02-27 01:01:18</th><th>5069229</th><th>99817.36486271373</th><th>0.0</th><th>99817.36486271373</th><th>0.01969083757366529</th></tr>
  <tr><th>2021-02-27 02:01:16</th><th>5125948</th><th>0.0</th><th>0.019407248275516875</th><th>99480.54548338917</th><th>0.019407248275516875</th></tr>
  <tr><th>2021-02-27 03:01:18</th><th>5080159</th><th>98739.46707386994</th><th>0.0</th><th>98739.46707386994</th><th>0.01943629462657959</th></tr>
  <tr><th>2021-02-27 04:01:17</th><th>5043305</th><th>98739.46707386994</th><th>0.0</th><th>98739.46707386994</th><th>0.019578325537295473</th></tr>
  <tr><th>2021-02-27 05:01:17</th><th>5000000</th><th>98739.46707386994</th><th>0.0</th><th>98739.46707386994</th><th>0.01974789341477399</th></tr>
  <tr><th>2021-02-27 06:01:17</th><th>4930163</th><th>98739.46707386994</th><th>0.0</th><th>98739.46707386994</th><th>0.020027627296271937</th></tr>
  <tr><th>2021-02-27 07:01:17</th><th>4865024</th><th>98739.46707386994</th><th>0.0</th><th>98739.46707386994</th><th>0.020295782112045066</th></tr>
  <tr><th>2021-02-27 08:01:14</th><th>4853035</th><th>0.0</th><th>0.020371087381909708</th><th>98861.60005246618</th><th>0.020371087381909708</th></tr>
  <tr><th>2021-02-27 09:01:15</th><th>4940935</th><th>100698.59228520273</th><th>0.0</th><th>100698.59228520273</th><th>0.020380472984405325</th></tr>
  <tr><th>2021-02-27 10:01:17</th><th>5070000</th><th>0.0</th><th>0.01987840546885261</th><th>100783.51572708273</th><th>0.01987840546885261</th></tr>
  <tr><th>2021-02-27 11:01:16</th><th>5081501</th><th>100950.18569692213</th><th>0.0</th><th>100950.18569692213</th><th>0.01986621387989929</th></tr>
  <tr><th>2021-02-27 12:01:14</th><th>5038921</th><th>100950.18569692213</th><th>0.0</th><th>100950.18569692213</th><th>0.02003408779318472</th></tr>
  <tr><th>2021-02-27 13:01:17</th><th>5046001</th><th>100950.18569692213</th><th>0.0</th><th>100950.18569692213</th><th>0.02000597813930717</th></tr>
  <tr><th>2021-02-27 14:01:19</th><th>5069238</th><th>100950.18569692213</th><th>0.0</th><th>100950.18569692213</th><th>0.019914272262798103</th></tr>
  <tr><th>2021-02-27 15:01:17</th><th>5080975</th><th>100950.18569692213</th><th>0.0</th><th>100950.18569692213</th><th>0.01986827049865865</th></tr>
  <tr><th>2021-02-27 16:01:17</th><th>5062458</th><th>100950.18569692213</th><th>0.0</th><th>100950.18569692213</th><th>0.01994094285758462</th></tr>
  <tr><th>2021-02-27 17:01:18</th><th>5025000</th><th>100950.18569692213</th><th>0.0</th><th>100950.18569692213</th><th>0.02008958919341734</th></tr>
  <tr><th>2021-02-27 18:01:17</th><th>4961380</th><th>100950.18569692213</th><th>0.0</th><th>100950.18569692213</th><th>0.020347198903716734</th></tr>
  <tr><th>2021-02-27 19:01:18</th><th>4966700</th><th>0.0</th><th>0.02032300019545221</th><th>100938.2450707525</th><th>0.02032300019545221</th></tr>
  <tr><th>2021-02-27 20:01:17</th><th>4980202</th><th>0.0</th><th>0.02032300019545221</th><th>101212.64621939149</th><th>0.02032300019545221</th></tr>
  <tr><th>2021-02-27 21:01:17</th><th>5037746</th><th>0.0</th><th>0.02032300019545221</th><th>102382.11294263859</th><th>0.02032300019545221</th></tr>
  <tr><th>2021-02-27 22:01:17</th><th>5042950</th><th>0.0</th><th>0.02032300019545221</th><th>102487.87383565573</th><th>0.02032300019545221</th></tr>
  <tr><th>2021-02-27 23:01:16</th><th>5055999</th><th>0.0</th><th>0.02032300019545221</th><th>102753.06866520618</th><th>0.02032300019545221</th></tr>
  <tr><th>2021-02-28 00:01:18</th><th>5016010</th><th>101904.55595067279</th><th>0.0</th><th>101904.55595067279</th><th>0.02031585980703244</th></tr>
  <tr><th>2021-02-28 01:01:16</th><th>4962740</th><th>101904.55595067279</th><th>0.0</th><th>101904.55595067279</th><th>0.020533930036768556</th></tr>
  <tr><th>2021-02-28 02:01:18</th><th>5002966</th><th>0.0</th><th>0.02039361387104004</th><th>102028.5568139417</th><th>0.02039361387104004</th></tr>
  <tr><th>2021-02-28 03:01:18</th><th>5012246</th><th>0.0</th><th>0.02039361387104004</th><th>102217.80955066496</th><th>0.02039361387104004</th></tr>
  <tr><th>2021-02-28 04:01:16</th><th>5026851</th><th>0.0</th><th>0.02039361387104004</th><th>102515.6582812515</th><th>0.02039361387104004</th></tr>
  <tr><th>2021-02-28 05:01:18</th><th>5051192</th><th>0.0</th><th>0.02039361387104004</th><th>103012.05923648649</th><th>0.02039361387104004</th></tr>
  <tr><th>2021-02-28 06:01:16</th><th>5016010</th><th>102363.00540047887</th><th>0.0</th><th>102363.00540047887</th><th>0.02040725704304395</th></tr>
  <tr><th>2021-02-28 07:01:17</th><th>4994601</th><th>102363.00540047887</th><th>0.0</th><th>102363.00540047887</th><th>0.020494731290943737</th></tr>
  <tr><th>2021-02-28 08:01:16</th><th>4897041</th><th>102363.00540047887</th><th>0.0</th><th>102363.00540047887</th><th>0.0209030321372598</th></tr>
  <tr><th>2021-02-28 09:01:17</th><th>4934282</th><th>0.0</th><th>0.02084201018645799</th><th>102840.3557068563</th><th>0.02084201018645799</th></tr>
  <tr><th>2021-02-28 10:01:17</th><th>4957507</th><th>0.0</th><th>0.02084201018645799</th><th>103324.41139343679</th><th>0.02084201018645799</th></tr>
  <tr><th>2021-02-28 11:01:15</th><th>4964000</th><th>0.0</th><th>0.02084201018645799</th><th>103459.73856557746</th><th>0.02084201018645799</th></tr>
  <tr><th>2021-02-28 12:01:14</th><th>4852642</th><th>101051.24616855179</th><th>0.0</th><th>101051.24616855179</th><th>0.0208239647945494</th></tr>
  <tr><th>2021-02-28 13:01:17</th><th>4785257</th><th>101051.24616855179</th><th>0.0</th><th>101051.24616855179</th><th>0.021117203562640793</th></tr>
  <tr><th>2021-02-28 14:01:15</th><th>4760476</th><th>101051.24616855179</th><th>0.0</th><th>101051.24616855179</th><th>0.02122713068368621</th></tr>
  <tr><th>2021-02-28 15:01:16</th><th>4795010</th><th>101051.24616855179</th><th>0.0</th><th>101051.24616855179</th><th>0.021074251392291528</th></tr>
  <tr><th>2021-02-28 16:01:14</th><th>4742855</th><th>0.0</th><th>0.021272057085360924</th><th>100890.28230758948</th><th>0.021272057085360924</th></tr>
  <tr><th>2021-02-28 17:01:14</th><th>4747280</th><th>0.0</th><th>0.021272057085360924</th><th>100984.4111601922</th><th>0.021272057085360924</th></tr>
  <tr><th>2021-02-28 18:01:15</th><th>4798345</th><th>0.0</th><th>0.021272057085360924</th><th>102070.66875525616</th><th>0.021272057085360924</th></tr>
  <tr><th>2021-02-28 19:01:17</th><th>4823408</th><th>0.0</th><th>0.021272057085360924</th><th>102603.81032198656</th><th>0.021272057085360924</th></tr>
  <tr><th>2021-02-28 20:01:18</th><th>4829193</th><th>102903.83798818412</th><th>0.0</th><th>102903.83798818412</th><th>0.02130870271454964</th></tr>
  <tr><th>2021-02-28 21:01:16</th><th>4831000</th><th>102903.83798818412</th><th>0.0</th><th>102903.83798818412</th><th>0.021300732351104145</th></tr>
  <tr><th>2021-02-28 22:01:16</th><th>4776702</th><th>102903.83798818412</th><th>0.0</th><th>102903.83798818412</th><th>0.021542863253387824</th></tr>
  <tr><th>2021-02-28 23:01:17</th><th>4707376</th><th>102903.83798818412</th><th>0.0</th><th>102903.83798818412</th><th>0.021860127168125965</th></tr>
  <tr><th>2021-03-01 00:01:22</th><th>4749800</th><th>102903.83798818412</th><th>0.0</th><th>102903.83798818412</th><th>0.021664878097642875</th></tr>
  <tr><th>2021-03-01 01:01:15</th><th>4630903</th><th>0.0</th><th>0.02232628969476894</th><th>103390.88192637457</th><th>0.02232628969476894</th></tr>
  <tr><th>2021-03-01 02:01:17</th><th>4645004</th><th>0.0</th><th>0.02232628969476894</th><th>103705.7049373605</th><th>0.02232628969476894</th></tr>
  <tr><th>2021-03-01 03:01:18</th><th>4604215</th><th>0.0</th><th>0.02232628969476894</th><th>102795.03790700057</th><th>0.02232628969476894</th></tr>
  <tr><th>2021-03-01 04:01:14</th><th>4655952</th><th>0.0</th><th>0.02232628969476894</th><th>103950.13315693883</th><th>0.02232628969476894</th></tr>
  <tr><th>2021-03-01 05:01:14</th><th>4735490</th><th>0.0</th><th>0.02232628969476894</th><th>105725.92158668136</th><th>0.02232628969476894</th></tr>
  <tr><th>2021-03-01 06:01:14</th><th>4787896</th><th>107159.50935251242</th><th>0.0</th><th>107159.50935251242</th><th>0.02238133605084831</th></tr>
  <tr><th>2021-03-01 07:01:13</th><th>4826002</th><th>107159.50935251242</th><th>0.0</th><th>107159.50935251242</th><th>0.022204613539843626</th></tr>
  <tr><th>2021-03-01 08:01:15</th><th>4824010</th><th>107159.50935251242</th><th>0.0</th><th>107159.50935251242</th><th>0.022213782590109147</th></tr>
  <tr><th>2021-03-01 09:01:15</th><th>4821241</th><th>107159.50935251242</th><th>0.0</th><th>107159.50935251242</th><th>0.022226540708608515</th></tr>
  <tr><th>2021-03-01 10:01:16</th><th>4939000</th><th>107159.50935251242</th><th>0.0</th><th>107159.50935251242</th><th>0.021696600395325456</th></tr>
  <tr><th>2021-03-01 11:01:14</th><th>4937940</th><th>107159.50935251242</th><th>0.0</th><th>107159.50935251242</th><th>0.021701257883350634</th></tr>
  <tr><th>2021-03-01 12:01:13</th><th>4977492</th><th>107159.50935251242</th><th>0.0</th><th>107159.50935251242</th><th>0.02152881598855657</th></tr>
  <tr><th>2021-03-01 13:01:14</th><th>4950000</th><th>107159.50935251242</th><th>0.0</th><th>107159.50935251242</th><th>0.021648385727780287</th></tr>
  <tr><th>2021-03-01 14:01:14</th><th>4958586</th><th>107159.50935251242</th><th>0.0</th><th>107159.50935251242</th><th>0.021610900638309474</th></tr>
  <tr><th>2021-03-01 15:01:13</th><th>4933420</th><th>107159.50935251242</th><th>0.0</th><th>107159.50935251242</th><th>0.02172114057844506</th></tr>
  <tr><th>2021-03-01 16:01:17</th><th>4895838</th><th>0.0</th><th>0.02188387097621113</th><th>107139.88711243155</th><th>0.02188387097621113</th></tr>
  <tr><th>2021-03-01 17:01:19</th><th>4938151</th><th>108265.02998266826</th><th>0.0</th><th>108265.02998266826</th><th>0.021924204015362887</th></tr>
  <tr><th>2021-03-01 18:01:15</th><th>5036185</th><th>108265.02998266826</th><th>0.0</th><th>108265.02998266826</th><th>0.021497429102121598</th></tr>
  <tr><th>2021-03-01 19:01:17</th><th>5066532</th><th>108265.02998266826</th><th>0.0</th><th>108265.02998266826</th><th>0.021368665979543455</th></tr>
  <tr><th>2021-03-01 20:01:19</th><th>5095000</th><th>0.0</th><th>0.0212409252509287</th><th>108222.51415348172</th><th>0.0212409252509287</th></tr>
  <tr><th>2021-03-01 21:01:16</th><th>5112509</th><th>0.0</th><th>0.0212409252509287</th><th>108594.42151370023</th><th>0.0212409252509287</th></tr>
  <tr><th>2021-03-01 22:01:16</th><th>5130012</th><th>0.0</th><th>0.0212409252509287</th><th>108966.20142836723</th><th>0.0212409252509287</th></tr>
  <tr><th>2021-03-01 23:01:16</th><th>5111050</th><th>0.0</th><th>0.0212409252509287</th><th>108563.43100375912</th><th>0.0212409252509287</th></tr>
  <tr><th>2021-03-02 00:01:15</th><th>5138043</th><th>109667.92519929797</th><th>0.0</th><th>109667.92519929797</th><th>0.021344298831149907</th></tr>
  <tr><th>2021-03-02 01:01:16</th><th>5250000</th><th>109667.92519929797</th><th>0.0</th><th>109667.92519929797</th><th>0.02088912860939009</th></tr>
  <tr><th>2021-03-02 02:01:18</th><th>5243801</th><th>109667.92519929797</th><th>0.0</th><th>109667.92519929797</th><th>0.020913822854699858</th></tr>
  <tr><th>2021-03-02 03:01:16</th><th>5197527</th><th>109667.92519929797</th><th>0.0</th><th>109667.92519929797</th><th>0.021100020297979784</th></tr>
  <tr><th>2021-03-02 04:01:18</th><th>5182697</th><th>109667.92519929797</th><th>0.0</th><th>109667.92519929797</th><th>0.02116039683572047</th></tr>
  <tr><th>2021-03-02 05:01:18</th><th>5158979</th><th>109667.92519929797</th><th>0.0</th><th>109667.92519929797</th><th>0.021257680095092067</th></tr>
  <tr><th>2021-03-02 06:01:17</th><th>5193168</th><th>109667.92519929797</th><th>0.0</th><th>109667.92519929797</th><th>0.0211177310649873</th></tr>
  <tr><th>2021-03-02 07:01:17</th><th>5221224</th><th>0.0</th><th>0.021038738215795667</th><th>109847.96490202952</th><th>0.021038738215795667</th></tr>
  <tr><th>2021-03-02 08:01:17</th><th>5257274</th><th>0.0</th><th>0.021038738215795667</th><th>110606.41141470896</th><th>0.021038738215795667</th></tr>
  <tr><th>2021-03-02 09:01:14</th><th>5317615</th><th>111906.2603758919</th><th>0.0</th><th>111906.2603758919</th><th>0.021044445747932464</th></tr>
  <tr><th>2021-03-02 10:01:19</th><th>5291565</th><th>111906.2603758919</th><th>0.0</th><th>111906.2603758919</th><th>0.021148046064990583</th></tr>
  <tr><th>2021-03-02 11:01:15</th><th>5286833</th><th>0.0</th><th>0.02114106104141664</th><th>111769.25916877585</th><th>0.02114106104141664</th></tr>
  <tr><th>2021-03-02 12:01:14</th><th>5267826</th><th>0.0</th><th>0.02114106104141664</th><th>111367.43102156166</th><th>0.02114106104141664</th></tr>
  <tr><th>2021-03-02 13:01:18</th><th>5227651</th><th>110567.15275579997</th><th>0.0</th><th>110567.15275579997</th><th>0.02115044649227731</th></tr>
  <tr><th>2021-03-02 14:01:16</th><th>5250699</th><th>110567.15275579997</th><th>0.0</th><th>110567.15275579997</th><th>0.021057606378845933</th></tr>
  <tr><th>2021-03-02 15:01:17</th><th>5212691</th><th>110567.15275579997</th><th>0.0</th><th>110567.15275579997</th><th>0.021211146556701706</th></tr>
  <tr><th>2021-03-02 16:01:17</th><th>5198086</th><th>110567.15275579997</th><th>0.0</th><th>110567.15275579997</th><th>0.021270743261231146</th></tr>
  <tr><th>2021-03-02 17:01:18</th><th>5170000</th><th>0.0</th><th>0.02138754968811008</th><th>110573.63188752912</th><th>0.02138754968811008</th></tr>
  <tr><th>2021-03-02 18:01:17</th><th>5227684</th><th>112030.41089677087</th><th>0.0</th><th>112030.41089677087</th><th>0.02143021860096572</th></tr>
  <tr><th>2021-03-02 19:01:18</th><th>5260139</th><th>0.0</th><th>0.021281050366535798</th><th>111941.28299397924</th><th>0.021281050366535798</th></tr>
  <tr><th>2021-03-02 20:01:17</th><th>5211435</th><th>110697.13165335006</th><th>0.0</th><th>110697.13165335006</th><th>0.021241199718187036</th></tr>
  <tr><th>2021-03-02 21:01:19</th><th>5221000</th><th>110697.13165335006</th><th>0.0</th><th>110697.13165335006</th><th>0.021202285319546075</th></tr>
  <tr><th>2021-03-02 22:01:20</th><th>5220000</th><th>0.0</th><th>0.021223729151781476</th><th>110787.86617229931</th><th>0.021223729151781476</th></tr>
  <tr><th>2021-03-02 23:01:20</th><th>5240256</th><th>0.0</th><th>0.02122372915178148</th><th>111217.77402999782</th><th>0.02122372915178148</th></tr>
  <tr><th>2021-03-03 00:01:22</th><th>5221433</th><th>111102.46031394726</th><th>0.0</th><th>111102.46031394726</th><th>0.02127815492680788</th></tr>
  <tr><th>2021-03-03 01:01:21</th><th>5192152</th><th>0.0</th><th>0.02142687918965577</th><th>111251.61363832958</th><th>0.02142687918965577</th></tr>
  <tr><th>2021-03-03 02:01:20</th><th>5082610</th><th>108696.83071555033</th><th>0.0</th><th>108696.83071555033</th><th>0.021386026217937306</th></tr>
  <tr><th>2021-03-03 03:01:23</th><th>5116938</th><th>0.0</th><th>0.02128071794822631</th><th>108892.11433656124</th><th>0.02128071794822631</th></tr>
  <tr><th>2021-03-03 04:01:20</th><th>5100631</th><th>0.0</th><th>0.02128071794822631</th><th>108545.08966897952</th><th>0.02128071794822631</th></tr>
  <tr><th>2021-03-03 05:01:21</th><th>5081099</th><th>108234.13582683232</th><th>0.0</th><th>108234.13582683232</th><th>0.021301323951143702</th></tr>
  <tr><th>2021-03-03 06:01:21</th><th>5087430</th><th>108234.13582683232</th><th>0.0</th><th>108234.13582683232</th><th>0.02127481573738259</th></tr>
  <tr><th>2021-03-03 07:01:22</th><th>5080953</th><th>0.0</th><th>0.021336637425832826</th><th>108410.45193869757</th><th>0.021336637425832826</th></tr>
  <tr><th>2021-03-03 08:01:25</th><th>5122055</th><th>0.0</th><th>0.021336637425832826</th><th>109287.43041017416</th><th>0.021336637425832826</th></tr>
  <tr><th>2021-03-03 09:01:22</th><th>5191998</th><th>0.0</th><th>0.021336637425832826</th><th>110779.77884164918</th><th>0.021336637425832826</th></tr>
  <tr><th>2021-03-03 10:01:23</th><th>5192999</th><th>0.0</th><th>0.021336637425832826</th><th>110801.13681571244</th><th>0.021336637425832826</th></tr>
  <tr><th>2021-03-03 11:01:21</th><th>5227564</th><th>0.0</th><th>0.021336637425832826</th><th>111538.63768833636</th><th>0.021336637425832826</th></tr>
  <tr><th>2021-03-03 12:01:19</th><th>5203612</th><th>0.0</th><th>0.021336637425832826</th><th>111027.5825487128</th><th>0.021336637425832826</th></tr>
  <tr><th>2021-03-03 13:01:22</th><th>5209061</th><th>111335.50009805996</th><th>0.0</th><th>111335.50009805996</th><th>0.021373429894190134</th></tr>
  <tr><th>2021-03-03 14:01:20</th><th>5260179</th><th>111335.50009805996</th><th>0.0</th><th>111335.50009805996</th><th>0.021165724607101765</th></tr>
  <tr><th>2021-03-03 15:01:21</th><th>5250545</th><th>111335.50009805996</th><th>0.0</th><th>111335.50009805996</th><th>0.021204560688092372</th></tr>
  <tr><th>2021-03-03 16:01:21</th><th>5295502</th><th>0.0</th><th>0.02101003924897406</th><th>111258.70486302064</th><th>0.02101003924897406</th></tr>
  <tr><th>2021-03-03 17:01:27</th><th>5314699</th><th>112089.77373572713</th><th>0.0</th><th>112089.77373572713</th><th>0.02109052153955043</th></tr>
  <tr><th>2021-03-03 18:01:21</th><th>5439001</th><th>112089.77373572713</th><th>0.0</th><th>112089.77373572713</th><th>0.020608522362052725</th></tr>
  <tr><th>2021-03-03 19:01:30</th><th>5495264</th><th>112089.77373572713</th><th>0.0</th><th>112089.77373572713</th><th>0.02039752298264963</th></tr>
  <tr><th>2021-03-03 20:01:22</th><th>5491611</th><th>112089.77373572713</th><th>0.0</th><th>112089.77373572713</th><th>0.02041109134199912</th></tr>
  <tr><th>2021-03-03 21:01:19</th><th>5516097</th><th>112089.77373572713</th><th>0.0</th><th>112089.77373572713</th><th>0.020320486339476466</th></tr>
  <tr><th>2021-03-03 22:01:22</th><th>5615548</th><th>0.0</th><th>0.020055830306140027</th><th>112624.47776398402</th><th>0.020055830306140027</th></tr>
  <tr><th>2021-03-03 23:01:17</th><th>5497448</th><th>110028.19035534094</th><th>0.0</th><th>110028.19035534094</th><th>0.020014412206416674</th></tr>
  <tr><th>2021-03-04 00:01:23</th><th>5424582</th><th>110028.19035534094</th><th>0.0</th><th>110028.19035534094</th><th>0.020283256913683108</th></tr>
  <tr><th>2021-03-04 01:01:20</th><th>5427591</th><th>110028.19035534094</th><th>0.0</th><th>110028.19035534094</th><th>0.02027201208700894</th></tr>
  <tr><th>2021-03-04 02:01:20</th><th>5464018</th><th>110028.19035534094</th><th>0.0</th><th>110028.19035534094</th><th>0.020136864548275818</th></tr>
  <tr><th>2021-03-04 03:01:20</th><th>5490342</th><th>110028.19035534094</th><th>0.0</th><th>110028.19035534094</th><th>0.020040316314601337</th></tr>
  <tr><th>2021-03-04 04:01:20</th><th>5482506</th><th>110028.19035534094</th><th>0.0</th><th>110028.19035534094</th><th>0.02006895940566977</th></tr>
  <tr><th>2021-03-04 05:01:20</th><th>5441654</th><th>110028.19035534094</th><th>0.0</th><th>110028.19035534094</th><th>0.020219622628586995</th></tr>
  <tr><th>2021-03-04 06:01:24</th><th>5405962</th><th>110028.19035534094</th><th>0.0</th><th>110028.19035534094</th><th>0.02035311945502779</th></tr>
  <tr><th>2021-03-04 07:01:27</th><th>5460001</th><th>110028.19035534094</th><th>0.0</th><th>110028.19035534094</th><th>0.02015167952448011</th></tr>
  <tr><th>2021-03-04 08:01:23</th><th>5419492</th><th>110028.19035534094</th><th>0.0</th><th>110028.19035534094</th><th>0.02030230699765604</th></tr>
  <tr><th>2021-03-04 09:01:21</th><th>5408085</th><th>110028.19035534094</th><th>0.0</th><th>110028.19035534094</th><th>0.02034512962635405</th></tr>
  <tr><th>2021-03-04 10:01:20</th><th>5452566</th><th>110028.19035534094</th><th>0.0</th><th>110028.19035534094</th><th>0.020179157914886482</th></tr>
  <tr><th>2021-03-04 11:01:23</th><th>5523000</th><th>110028.19035534094</th><th>0.0</th><th>110028.19035534094</th><th>0.019921816106344546</th></tr>
  <tr><th>2021-03-04 12:01:22</th><th>5449802</th><th>110028.19035534094</th><th>0.0</th><th>110028.19035534094</th><th>0.020189392266974273</th></tr>
  <tr><th>2021-03-04 13:01:22</th><th>5319036</th><th>110028.19035534094</th><th>0.0</th><th>110028.19035534094</th><th>0.020685738986414254</th></tr>
  <tr><th>2021-03-04 14:01:18</th><th>5265090</th><th>0.0</th><th>0.02085415194783913</th><th>109798.98687904833</th><th>0.02085415194783913</th></tr>
  <tr><th>2021-03-04 15:01:20</th><th>5334996</th><th>111217.59911133157</th><th>0.0</th><th>111217.59911133157</th><th>0.020846800843211798</th></tr>
  <tr><th>2021-03-04 16:01:23</th><th>5311065</th><th>0.0</th><th>0.020967290609274408</th><th>111358.64329974598</th><th>0.020967290609274408</th></tr>
  <tr><th>2021-03-04 17:01:20</th><th>5334704</th><th>112382.95350863019</th><th>0.0</th><th>112382.95350863019</th><th>0.021066389720709938</th></tr>
  <tr><th>2021-03-04 18:01:30</th><th>5392500</th><th>112382.95350863019</th><th>0.0</th><th>112382.95350863019</th><th>0.02084060333956981</th></tr>
  <tr><th>2021-03-04 19:01:23</th><th>5279999</th><th>112382.95350863019</th><th>0.0</th><th>112382.95350863019</th><th>0.021284654316909946</th></tr>
  <tr><th>2021-03-04 20:01:26</th><th>5301797</th><th>112382.95350863019</th><th>0.0</th><th>112382.95350863019</th><th>0.02119714381909194</th></tr>
  <tr><th>2021-03-04 21:01:31</th><th>5308995</th><th>0.0</th><th>0.021179005026630164</th><th>112439.23179135441</th><th>0.021179005026630164</th></tr>
  <tr><th>2021-03-04 22:02:00</th><th>5311668</th><th>0.0</th><th>0.021179005026630164</th><th>112495.8432717906</th><th>0.021179005026630164</th></tr>
  <tr><th>2021-03-04 23:01:30</th><th>5338363</th><th>113016.12741665356</th><th>0.0</th><th>113016.12741665356</th><th>0.021170558730579686</th></tr>
  <tr><th>2021-03-05 06:01:23</th><th>5207754</th><th>0.0</th><th>0.02170533385039682</th><th>113036.03918073943</th><th>0.02170533385039682</th></tr>
  <tr><th>2021-03-05 09:01:39</th><th>5234182</th><th>0.0</th><th>0.02170533385039682</th><th>113609.66774373772</th><th>0.02170533385039682</th></tr>
  <tr><th>2021-03-05 10:01:37</th><th>5064002</th><th>0.0</th><th>0.02170533385039682</th><th>109915.85402907719</th><th>0.02170533385039682</th></tr>
  <tr><th>2021-03-05 11:01:28</th><th>5055523</th><th>0.0</th><th>0.02170533385039682</th><th>109731.81450335968</th><th>0.02170533385039682</th></tr>
  <tr><th>2021-03-05 12:01:28</th><th>5100485</th><th>0.0</th><th>0.02170533385039682</th><th>110707.72972394121</th><th>0.02170533385039682</th></tr>
  <tr><th>2021-03-05 13:01:19</th><th>5120000</th><th>111099.93438852404</th><th>0.0</th><th>111099.93438852404</th><th>0.021699205935258602</th></tr>
  <tr><th>2021-03-05 14:01:27</th><th>5055507</th><th>0.0</th><th>0.02196217613738856</th><th>111029.93519780082</th><th>0.02196217613738856</th></tr>
  <tr><th>2021-03-05 15:01:19</th><th>5109029</th><th>0.0</th><th>0.02196217613738856</th><th>112205.39478902613</th><th>0.02196217613738856</th></tr>
  <tr><th>2021-03-05 16:01:21</th><th>5143573</th><th>113054.61357592006</th><th>0.0</th><th>113054.61357592006</th><th>0.02197978206509756</th></tr>
  <tr><th>2021-03-05 17:01:19</th><th>5146842</th><th>113054.61357592006</th><th>0.0</th><th>113054.61357592006</th><th>0.02196582167782109</th></tr>
  <tr><th>2021-03-05 18:01:34</th><th>5067832</th><th>0.0</th><th>0.02234690659258527</th><th>113250.36833091459</th><th>0.02234690659258527</th></tr>
  <tr><th>2021-03-05 19:01:29</th><th>5115090</th><th>0.0</th><th>0.02234690659258527</th><th>114306.43844266699</th><th>0.02234690659258527</th></tr>
  <tr><th>2021-03-05 20:01:20</th><th>5114762</th><th>0.0</th><th>0.02234690659258527</th><th>114299.10865730462</th><th>0.02234690659258527</th></tr>
  <tr><th>2021-03-05 21:01:21</th><th>5155569</th><th>115288.06200275614</th><th>0.0</th><th>115288.06200275614</th><th>0.022361850263813002</th></tr>
  <tr><th>2021-03-05 22:01:20</th><th>5166708</th><th>115288.06200275615</th><th>0.0</th><th>115288.06200275615</th><th>0.02231363994302681</th></tr>
  <tr><th>2021-03-05 23:01:25</th><th>5222000</th><th>115288.06200275615</th><th>0.0</th><th>115288.06200275615</th><th>0.022077376867628524</th></tr>
  <tr><th>2021-03-06 00:01:27</th><th>5219994</th><th>115288.06200275615</th><th>0.0</th><th>115288.06200275615</th><th>0.022085861018759055</th></tr>
  <tr><th>2021-03-06 01:01:20</th><th>5190348</th><th>115288.06200275615</th><th>0.0</th><th>115288.06200275615</th><th>0.0222120100622841</th></tr>
  <tr><th>2021-03-06 02:01:21</th><th>5161075</th><th>115288.06200275615</th><th>0.0</th><th>115288.06200275615</th><th>0.022337993926218113</th></tr>
  <tr><th>2021-03-06 03:01:26</th><th>5206917</th><th>115288.06200275615</th><th>0.0</th><th>115288.06200275615</th><th>0.022141328928952805</th></tr>
  <tr><th>2021-03-06 04:01:22</th><th>5242884</th><th>115288.06200275615</th><th>0.0</th><th>115288.06200275615</th><th>0.021989435967447717</th></tr>
  <tr><th>2021-03-06 05:01:19</th><th>5330052</th><th>115288.06200275615</th><th>0.0</th><th>115288.06200275615</th><th>0.02162981937188533</th></tr>
  <tr><th>2021-03-06 06:01:22</th><th>5316398</th><th>115288.06200275615</th><th>0.0</th><th>115288.06200275615</th><th>0.02168537080985211</th></tr>
  <tr><th>2021-03-06 07:01:23</th><th>5305072</th><th>115288.06200275615</th><th>0.0</th><th>115288.06200275615</th><th>0.02173166773283306</th></tr>
  <tr><th>2021-03-06 08:01:19</th><th>5304998</th><th>115288.06200275615</th><th>0.0</th><th>115288.06200275615</th><th>0.02173197087025408</th></tr>
  <tr><th>2021-03-06 09:01:22</th><th>5277736</th><th>115288.06200275615</th><th>0.0</th><th>115288.06200275615</th><th>0.021844226767454105</th></tr>
  <tr><th>2021-03-06 10:01:20</th><th>5285001</th><th>115288.06200275615</th><th>0.0</th><th>115288.06200275615</th><th>0.02181419871117454</th></tr>
  <tr><th>2021-03-06 11:01:18</th><th>5264682</th><th>115288.06200275615</th><th>0.0</th><th>115288.06200275615</th><th>0.021898390444618717</th></tr>
  <tr><th>2021-03-06 12:01:19</th><th>5275985</th><th>0.0</th><th>0.021874035086733985</th><th>115407.0810070822</th><th>0.021874035086733985</th></tr>
  <tr><th>2021-03-06 13:01:21</th><th>5264743</th><th>115282.00183148312</th><th>0.0</th><th>115282.00183148312</th><th>0.021896985632818756</th></tr>
  <tr><th>2021-03-06 14:01:20</th><th>5250956</th><th>115282.00183148312</th><th>0.0</th><th>115282.00183148312</th><th>0.021954478733297922</th></tr>
  <tr><th>2021-03-06 15:01:18</th><th>5254463</th><th>115282.00183148312</th><th>0.0</th><th>115282.00183148312</th><th>0.021939825598064563</th></tr>
  <tr><th>2021-03-06 16:01:19</th><th>5300000</th><th>115282.00183148312</th><th>0.0</th><th>115282.00183148312</th><th>0.021751321100279834</th></tr>
  <tr><th>2021-03-06 17:01:18</th><th>5288659</th><th>115282.00183148312</th><th>0.0</th><th>115282.00183148312</th><th>0.021797964631768304</th></tr>
  <tr><th>2021-03-06 18:01:17</th><th>5267026</th><th>115282.00183148312</th><th>0.0</th><th>115282.00183148312</th><th>0.021887494352882085</th></tr>
  <tr><th>2021-03-06 19:01:20</th><th>5235672</th><th>115282.00183148312</th><th>0.0</th><th>115282.00183148312</th><th>0.02201856835788856</th></tr>
  <tr><th>2021-03-06 20:01:20</th><th>5202417</th><th>115282.00183148312</th><th>0.0</th><th>115282.00183148312</th><th>0.02215931591632949</th></tr>
  <tr><th>2021-03-06 21:01:18</th><th>5218912</th><th>115282.00183148312</th><th>0.0</th><th>115282.00183148312</th><th>0.022089278729260645</th></tr>
  <tr><th>2021-03-06 22:01:20</th><th>5155142</th><th>115282.00183148312</th><th>0.0</th><th>115282.00183148312</th><th>0.02236252693553022</th></tr>
  <tr><th>2021-03-06 23:01:18</th><th>5128015</th><th>115282.00183148312</th><th>0.0</th><th>115282.00183148312</th><th>0.022480823833682842</th></tr>
  <tr><th>2021-03-07 00:01:23</th><th>5158056</th><th>0.0</th><th>0.02236328172907897</th><th>115351.05950236616</th><th>0.02236328172907897</th></tr>
  <tr><th>2021-03-07 01:01:19</th><th>5130005</th><th>0.0</th><th>0.02236328172907897</th><th>114723.74708658375</th><th>0.02236328172907897</th></tr>
  <tr><th>2021-03-07 02:01:20</th><th>5177509</th><th>0.0</th><th>0.02236328172907897</th><th>115786.09242184192</th><th>0.02236328172907897</th></tr>
  <tr><th>2021-03-07 03:01:21</th><th>5226615</th><th>117140.533645838</th><th>0.0</th><th>117140.533645838</th><th>0.022412313446817492</th></tr>
  <tr><th>2021-03-07 04:01:19</th><th>5249999</th><th>117140.533645838</th><th>0.0</th><th>117140.533645838</th><th>0.022312486849204734</th></tr>
  <tr><th>2021-03-07 05:01:21</th><th>5234999</th><th>117140.533645838</th><th>0.0</th><th>117140.533645838</th><th>0.02237641948849236</th></tr>
  <tr><th>2021-03-07 06:01:20</th><th>5247991</th><th>117140.533645838</th><th>0.0</th><th>117140.533645838</th><th>0.02232102411110042</th></tr>
  <tr><th>2021-03-07 07:01:17</th><th>5246479</th><th>117140.533645838</th><th>0.0</th><th>117140.533645838</th><th>0.022327456880288286</th></tr>
  <tr><th>2021-03-07 08:01:19</th><th>5284361</th><th>117140.533645838</th><th>0.0</th><th>117140.533645838</th><th>0.022167398034660765</th></tr>
  <tr><th>2021-03-07 09:01:19</th><th>5285207</th><th>117140.533645838</th><th>0.0</th><th>117140.533645838</th><th>0.022163849712194435</th></tr>
  <tr><th>2021-03-07 10:01:21</th><th>5319869</th><th>0.0</th><th>0.021987864248965514</th><th>116972.55739427992</th><th>0.021987864248965514</th></tr>
  <tr><th>2021-03-07 11:01:20</th><th>5312665</th><th>0.0</th><th>0.021987864248965514</th><th>116814.15682023038</th><th>0.021987864248965514</th></tr>
  <tr><th>2021-03-07 12:01:20</th><th>5354156</th><th>0.0</th><th>0.021987864248965514</th><th>117726.4552957842</th><th>0.021987864248965514</th></tr>
  <tr><th>2021-03-07 13:01:20</th><th>5362000</th><th>0.0</th><th>0.021987864248965514</th><th>117898.92810295308</th><th>0.021987864248965514</th></tr>
  <tr><th>2021-03-07 14:01:20</th><th>5346211</th><th>117635.9267247736</th><th>0.0</th><th>117635.9267247736</th><th>0.022003607176142803</th></tr>
  <tr><th>2021-03-07 15:01:19</th><th>5328500</th><th>117635.9267247736</th><th>0.0</th><th>117635.9267247736</th><th>0.022076743309519302</th></tr>
  <tr><th>2021-03-07 16:01:20</th><th>5348972</th><th>117635.9267247736</th><th>0.0</th><th>117635.9267247736</th><th>0.02199224948733581</th></tr>
  <tr><th>2021-03-07 17:01:22</th><th>5413966</th><th>0.0</th><th>0.02172987966697661</th><th>117644.82970110269</th><th>0.02172987966697661</th></tr>
  <tr><th>2021-03-07 18:01:20</th><th>5450164</th><th>0.0</th><th>0.02172987966697661</th><th>118431.4078852879</th><th>0.02172987966697661</th></tr>
  <tr><th>2021-03-07 19:01:20</th><th>5502426</th><th>0.0</th><th>0.02172987966697661</th><th>119567.05485644344</th><th>0.02172987966697661</th></tr>
  <tr><th>2021-03-07 20:01:25</th><th>5461044</th><th>0.0</th><th>0.02172987966697661</th><th>118667.82897606461</th><th>0.02172987966697661</th></tr>
  <tr><th>2021-03-07 21:01:24</th><th>5472657</th><th>119155.3057144026</th><th>0.0</th><th>119155.3057144026</th><th>0.021772843741970783</th></tr>
  <tr><th>2021-03-07 22:01:19</th><th>5479682</th><th>0.0</th><th>0.021765934837152532</th><th>119270.40134031767</th><th>0.021765934837152532</th></tr>
  <tr><th>2021-03-07 23:01:23</th><th>5491000</th><th>119537.99556530378</th><th>0.0</th><th>119537.99556530378</th><th>0.02176980432804658</th></tr>
  <tr><th>2021-03-08 00:01:28</th><th>5467958</th><th>119537.99556530378</th><th>0.0</th><th>119537.99556530378</th><th>0.021861542382970712</th></tr>
  <tr><th>2021-03-08 01:01:31</th><th>5465188</th><th>119537.99556530378</th><th>0.0</th><th>119537.99556530378</th><th>0.021872622783571907</th></tr>
  <tr><th>2021-03-08 02:01:21</th><th>5504000</th><th>119537.99556530378</th><th>0.0</th><th>119537.99556530378</th><th>0.021718385822184553</th></tr>
  <tr><th>2021-03-08 03:01:26</th><th>5523979</th><th>119537.99556530378</th><th>0.0</th><th>119537.99556530378</th><th>0.02163983526463511</th></tr>
  <tr><th>2021-03-08 04:01:23</th><th>5453709</th><th>119537.99556530378</th><th>0.0</th><th>119537.99556530378</th><th>0.021918660413546776</th></tr>
  <tr><th>2021-03-08 05:01:20</th><th>5448852</th><th>0.0</th><th>0.02197939807343547</th><th>119762.48715123501</th><th>0.02197939807343547</th></tr>
  <tr><th>2021-03-08 06:01:28</th><th>5418112</th><th>0.0</th><th>0.02197939807343547</th><th>119086.8404544576</th><th>0.02197939807343547</th></tr>
  <tr><th>2021-03-08 07:01:20</th><th>5424693</th><th>0.0</th><th>0.02197939807343547</th><th>119231.48687317889</th><th>0.02197939807343547</th></tr>
  <tr><th>2021-03-08 08:01:26</th><th>5469741</th><th>120435.42322995325</th><th>0.0</th><th>120435.42322995325</th><th>0.022018487389065266</th></tr>
  <tr><th>2021-03-08 09:01:27</th><th>5514488</th><th>120435.42322995325</th><th>0.0</th><th>120435.42322995325</th><th>0.02183981962241159</th></tr>
  <tr><th>2021-03-08 10:01:30</th><th>5566200</th><th>0.0</th><th>0.021638012915068432</th><th>120441.5074878539</th><th>0.021638012915068432</th></tr>
  <tr><th>2021-03-08 11:01:26</th><th>5570000</th><th>0.0</th><th>0.021638012915068432</th><th>120523.73193693117</th><th>0.021638012915068432</th></tr>
  <tr><th>2021-03-08 12:01:26</th><th>5485985</th><th>0.0</th><th>0.021638012915068432</th><th>118705.81428187169</th><th>0.021638012915068432</th></tr>
  <tr><th>2021-03-08 13:01:32</th><th>5474359</th><th>0.0</th><th>0.021638012915068432</th><th>118454.2507437211</th><th>0.021638012915068432</th></tr>
  <tr><th>2021-03-08 14:01:32</th><th>5454996</th><th>118204.03613227846</th><th>0.0</th><th>118204.03613227846</th><th>0.021668950102305934</th></tr>
  <tr><th>2021-03-08 15:01:32</th><th>5497751</th><th>118204.03613227846</th><th>0.0</th><th>118204.03613227846</th><th>0.02150043465633101</th></tr>
  <tr><th>2021-03-08 16:01:24</th><th>5455179</th><th>0.0</th><th>0.02168420749377228</th><th>118291.23335166917</th><th>0.02168420749377228</th></tr>
  <tr><th>2021-03-08 17:01:25</th><th>5408688</th><th>0.0</th><th>0.02168420749377228</th><th>117283.11286107621</th><th>0.02168420749377228</th></tr>
  <tr><th>2021-03-08 18:01:31</th><th>5420016</th><th>0.0</th><th>0.02168420749377228</th><th>117528.75156356566</th><th>0.02168420749377228</th></tr>
  <tr><th>2021-03-08 19:01:32</th><th>5422500</th><th>117441.62404922413</th><th>0.0</th><th>117441.62404922413</th><th>0.021658206371456733</th></tr>
  <tr><th>2021-03-08 20:01:32</th><th>5439281</th><th>0.0</th><th>0.021582199295758248</th><th>117391.64656763122</th><th>0.021582199295758248</th></tr>
  <tr><th>2021-03-08 21:01:22</th><th>5483822</th><th>118258.70434537693</th><th>0.0</th><th>118258.70434537693</th><th>0.021565015119997866</th></tr>
  <tr><th>2021-03-08 22:01:22</th><th>5464141</th><th>118258.70434537693</th><th>0.0</th><th>118258.70434537693</th><th>0.021642689005532054</th></tr>
  <tr><th>2021-03-08 23:01:26</th><th>5539148</th><th>0.0</th><th>0.021396894922724702</th><th>118520.5677174207</th><th>0.021396894922724702</th></tr>
  <tr><th>2021-03-09 00:01:37</th><th>5512480</th><th>117866.86046079214</th><th>0.0</th><th>117866.86046079214</th><th>0.0213818209700157</th></tr>
  <tr><th>2021-03-09 01:01:37</th><th>5544553</th><th>117866.86046079214</th><th>0.0</th><th>117866.86046079214</th><th>0.021258135770510653</th></tr>
  <tr><th>2021-03-09 02:01:31</th><th>5511854</th><th>117866.86046079214</th><th>0.0</th><th>117866.86046079214</th><th>0.02138424937612501</th></tr>
  <tr><th>2021-03-09 03:01:37</th><th>5519995</th><th>0.0</th><th>0.021337503775159448</th><th>117782.91415136127</th><th>0.021337503775159448</th></tr>
  <tr><th>2021-03-09 04:01:29</th><th>5522240</th><th>117948.22277900616</th><th>0.0</th><th>117948.22277900616</th><th>0.021358764338204453</th></tr>
  <tr><th>2021-03-09 05:01:26</th><th>5575353</th><th>117948.22277900616</th><th>0.0</th><th>117948.22277900616</th><th>0.021155292369650164</th></tr>
  <tr><th>2021-03-09 06:01:27</th><th>5620661</th><th>117948.22277900616</th><th>0.0</th><th>117948.22277900616</th><th>0.020984760116115553</th></tr>
  <tr><th>2021-03-09 07:01:24</th><th>5632179</th><th>0.0</th><th>0.02094580707206404</th><th>117970.53472933057</th><th>0.02094580707206404</th></tr>
  <tr><th>2021-03-09 08:01:23</th><th>5610000</th><th>0.0</th><th>0.02094580707206404</th><th>117505.97767427926</th><th>0.02094580707206404</th></tr>
  <tr><th>2021-03-09 09:01:28</th><th>5688000</th><th>0.0</th><th>0.02094580707206404</th><th>119139.75062590025</th><th>0.02094580707206404</th></tr>
  </table>